body{
    background-color: #00BFE8;
    font-family: 'Poppins';
}
.card{
    display: flex;
    background-color: #AEEEEE;
    flex-direction: column;
    position: relative;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    border: none;
    width: 590px;
    height: 800px;
    justify-content: space-between;
    overflow: hidden;
}
.navbar{
    background-color: #AEEEEE;
    border: 3px solid #000000;
    border-radius: 20px;
    display: flex;
    align-self: center;
    margin-top: auto;
}
.logo{
    width:32px; 
    height:32px;
}
.pflogo{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px; 
    height: 57px;
    z-index: 4;
}

.pf{
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
}

.laporan-box {
    margin-top: 70px;
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.laporan-isi{
    margin: 20px;
}
.laporan-item {
    background-color: #DDF9FD;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.judul {
    font-weight: bold;
    font-size: 16px;
    color: #0c4a6e;
    margin-bottom: 3px;
}

.catatan, .tanggal {
    margin: 0;
    font-size: 14px;
    color: #000;
}

.laporan-img {
    width: 120px;
    height: 120px;
    border-radius: 15px;
    object-fit: cover;
    border: 1px solid #333;
}

.btn-download {
    margin-top: 20px;;
    border: 2px solid #293067;
    background-color: #00BFE8;
    color: white;
    font-weight: bold;
    width: 120px;
    border-radius: 30px;
    z-index: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 40px;
}