body {
    background-color: #00BFE8;
    font-family: 'Poppins';
}

.card {
    display: flex;
    background-color: #AEEEEE;
    flex-direction: column;
    position: relative;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    border: none;
    width: 590px;
    height: 800px;
    justify-content: space-between;
    overflow: hidden;
}

.navbar{
    background-color: #AEEEEE;
    border: 3px solid #000000;
    border-radius: 20px;
    display: flex;
    align-self: center;
    margin-top: auto;
}

.logo{
    width:32px; 
    height:32px;
}

.pflogo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 57px;
    z-index: 4;
}

.pf {
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
}

.jadwal-list {
    margin-top: 70px;
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 10px;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.jadwal-card {
    border: 2px solid #000;
    border-radius: 20px;
    overflow: hidden;
    background-color: #DDF9FD;
}

.jadwal-img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.jadwal-info {
    background-color: #b6edfb;
    padding: 10px 15px;
    text-align: left;
}

.jadwal-info strong {
    font-size: 1.1rem;
    display: block;
    margin-bottom: 5px;
}
