body{
    background-color: #00BFE8;
    font-family: 'Poppins';
}

.card{
    display: flex;
    background-color: #AEEEEE;
    flex-direction: column;
    position: relative;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    border: none;
    width: 590px;
    height: 800px;
    justify-content: space-between;
    overflow: hidden;
}

.logo{
    width:32px; 
    height:32px;
}

.btn{
    margin-top: auto;
}

.pflogo2{
    position: absolute;
    top: 25px;
    right: 20px;
    width: 39px; 
    height: 53px;
    z-index: 4;
}

.pfbar {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 354px; 
    height: 50px;
    z-index: 1;
}
.siswa-info {
    position: absolute;
    top: 25px;
    left: 230px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: left;
    z-index: 2;
}
.siswa-info p {
    margin: 0;
    line-height: 1.2;
}

.pf{
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
}

.detail-box {
    border: 5px solid black;
    border-radius: 10px;
    padding: 15px;
    background-color: transparent;
    text-align: left;
    width: 100%;
    margin-top: 120px;
}

.btn-group{
    z-index: 1;
    gap: 30px;
}

.btn-logout {
    border: 5px solid #293067;
    background-color: #e81b00;
    color: white;
    font-weight: bold;
    width: 150px;
    border-radius: 30px;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.btn-edit {
    border: 5px solid #293067;
    background-color: #00BFE8;
    color: white;
    font-weight: bold;
    width: 150px;
    border-radius: 30px;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.wave{
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    z-index: 0;
    pointer-events: none;
}