body{
    background-color: #00BFE8;
    font-family: 'Poppins';
}
.card{
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: #AEEEEE;
    flex-direction: column;
    position: relative;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    border: none;
    width: 590px;
    height: 800px;
    overflow: hidden;
}

.navbar{
    background-color: #AEEEEE;
    border: 3px solid #000000;
    border-radius: 20px;
    display: flex;
    align-self: center;
    margin-top: auto;
}
.logo{
    width:32px; 
    height:32px;
}
.btn{
    margin-top: auto;
}
.pflogo{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px; 
    height: 57px;
    z-index: 4;
}

.pfbar {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 354px; 
    height: 50px;
    z-index: 1;
}
.pf{
    top: 20px;
    right: 21px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
}

.wave{
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    z-index: 0;
    pointer-events: none;
}

.jadwal-list {
    margin-top: 70px;
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 5px;

    /* sembunyikan scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.jadwal-list::-webkit-scrollbar {
    display: none;
}
.jadwal-item {
    background-color: #DDF9FD;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 15px;
}
.jadwal-img {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    object-fit: cover;
    border: 1px solid #333;
}